.oMHeader {
  height: 2.1rem; }
  .oMHeader .oMHeaderUp {
    height: 1.1rem;
    width: 7.5rem;
    background: #000;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between; }
    .oMHeader .oMHeaderUp .oMHeaderOne {
      line-height: 1.1rem;
      padding-left: 0.4rem; }
      .oMHeader .oMHeaderUp .oMHeaderOne i {
        color: #fff;
        font-size: 0.44rem;
        display: block; }
    .oMHeader .oMHeaderUp .oMHeaderTwo {
      overflow: hidden;
      margin-top: 0.23rem;
      border: 3px solid #fff;
      border-radius: 0.1rem;
      height: 0.66rem; }
      .oMHeader .oMHeaderUp .oMHeaderTwo a {
        height: 0.66rem;
        width: 1.55rem;
        display: block;
        color: #fff;
        font-size: 0.28rem;
        float: left;
        line-height: 0.66rem;
        text-align: center; }
      .oMHeader .oMHeaderUp .oMHeaderTwo .oMHeaderTwoAct {
        background: #fff;
        color: #000; }
    .oMHeader .oMHeaderUp .oMHeaderThree {
      padding-right: 0.3rem; }
      .oMHeader .oMHeaderUp .oMHeaderThree a {
        display: block;
        line-height: 1.1rem; }
        .oMHeader .oMHeaderUp .oMHeaderThree a i {
          color: #fff;
          font-size: 0.4rem;
          display: block; }
  .oMHeader .oMHeaderDown {
    height: 0.94rem;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    border-bottom: 4px solid #ddd; }
    .oMHeader .oMHeaderDown a {
      background: #fff;
      display: block;
      flex: 1;
      text-align: center;
      -webkit-flex: 1;
      color: #000;
      line-height: 0.94rem;
      font-size: 0.24rem; }
    .oMHeader .oMHeaderDown .active {
      background: #ddd; }

.oMsection {
  flex: 1;
  overflow: hidden;
  width: 7.5rem;
  position: relative; }
  .oMsection .oMsectionMove {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    width: 22.5rem;
    position: absolute; }
    .oMsection .oMsectionMove .oMSecOneList {
      height: 100%;
      flex: 1;
      overflow-y: auto; }
      .oMsection .oMsectionMove .oMSecOneList li {
        height: 1.36rem;
        border-bottom: 1px solid #ddd;
        overflow: hidden; }
        .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListLeft {
          width: 6.45rem;
          float: left;
          padding-left: 0.22rem; }
          .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListLeft .oMSecOneListLeftUp {
            line-height: 0.8rem;
            font-size: 0.24rem;
            font-weight: 600;
            overflow: hidden; }
            .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListLeft .oMSecOneListLeftUp span {
              float: right;
              color: #8b7c5a;
              font-weight: 100; }
          .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListLeft .oMSecOneListLeftDown {
            line-height: 0.36rem;
            font-size: 0.2rem;
            color: #666; }
            .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListLeft .oMSecOneListLeftDown b {
              font-style: normal;
              background: #92d285;
              color: #fff;
              float: left;
              padding: 0 0.2rem;
              border-radius: 0.2rem;
              margin-right: 0.2rem; }
            .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListLeft .oMSecOneListLeftDown span {
              float: right; }
        .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListRight {
          float: left;
          line-height: 1.36rem;
          color: #666;
          margin-left: 0.27rem; }
          .oMsection .oMsectionMove .oMSecOneList li .oMSecOneListRight i {
            font-size: 0.40rem;
            display: block; }
    .oMsection .oMsectionMove .oMSecTwoList {
      height: 100%;
      flex: 1;
      overflow-y: auto; }
      .oMsection .oMsectionMove .oMSecTwoList li {
        height: 1.36rem;
        border-bottom: 1px solid #ddd;
        overflow: hidden; }
        .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListLeft {
          width: 6.45rem;
          float: left;
          padding-left: 0.22rem; }
          .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListLeft .oMSecOneListLeftUp {
            line-height: 0.8rem;
            font-size: 0.24rem;
            font-weight: 600;
            overflow: hidden; }
            .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListLeft .oMSecOneListLeftUp span {
              float: right;
              color: #8b7c5a;
              font-weight: 100; }
          .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListLeft .oMSecOneListLeftDown {
            line-height: 0.36rem;
            font-size: 0.2rem;
            color: #666; }
            .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListLeft .oMSecOneListLeftDown b {
              font-style: normal;
              background: #92d285;
              color: #fff;
              float: left;
              padding: 0 0.2rem;
              border-radius: 0.2rem;
              margin-right: 0.2rem; }
            .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListLeft .oMSecOneListLeftDown span {
              float: right; }
        .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListRight {
          float: left;
          line-height: 1.36rem;
          color: #666;
          margin-left: 0.27rem; }
          .oMsection .oMsectionMove .oMSecTwoList li .oMSecOneListRight i {
            font-size: 0.40rem;
            display: block; }
    .oMsection .oMsectionMove .oMSecThreeList {
      overflow-y: auto;
      height: 100%;
      flex: 1; }
      .oMsection .oMsectionMove .oMSecThreeList li {
        height: 1.36rem;
        border-bottom: 1px solid #ddd;
        overflow: hidden; }
        .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListLeft {
          width: 6.45rem;
          float: left;
          padding-left: 0.22rem; }
          .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListLeft .oMSecOneListLeftUp {
            line-height: 0.8rem;
            font-size: 0.24rem;
            font-weight: 600;
            overflow: hidden; }
            .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListLeft .oMSecOneListLeftUp span {
              float: right;
              color: #8b7c5a;
              font-weight: 100; }
          .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListLeft .oMSecOneListLeftDown {
            line-height: 0.36rem;
            font-size: 0.2rem;
            color: #666; }
            .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListLeft .oMSecOneListLeftDown b {
              font-style: normal;
              background: #92d285;
              color: #fff;
              float: left;
              padding: 0 0.2rem;
              border-radius: 0.2rem;
              margin-right: 0.2rem; }
            .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListLeft .oMSecOneListLeftDown span {
              float: right; }
        .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListRight {
          float: left;
          line-height: 1.36rem;
          color: #666;
          margin-left: 0.27rem; }
          .oMsection .oMsectionMove .oMSecThreeList li .oMSecOneListRight i {
            font-size: 0.40rem;
            display: block; }

.oMInOrder {
  flex: 1;
  -webkit-flex: 1;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  left: 0;
  top: 0; }

.oMOut {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3.8rem;
  height: 2rem;
  background: #fff;
  border-radius: 0.15rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 0 16px 8px #777;
  display: none; }
  .oMOut p {
    line-height: 1.4rem;
    font-size: 0.38rem;
    text-align: center;
    font-weight: 600; }
  .oMOut a {
    flex: 1;
    -webkit-flex: 1;
    display: block;
    background: #000;
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.6rem;
    text-align: center; }

.oMfog {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  z-index: 1;
  display: none; }

.oMSearch {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 7.5rem;
  top: 0;
  z-index: 3; }
  .oMSearch .oMSearchTop {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    height: 1.1rem;
    background: #000;
    align-items: center; }
    .oMSearch .oMSearchTop input {
      width: 5.06rem;
      height: 0.8rem;
      border: 1px solid #ccc;
      background: #282828;
      text-indent: 0.3rem;
      color: #fff;
      font-size: 0.26rem; }
    .oMSearch .oMSearchTop input::-webkit-input-placeholder {
      color: #fff; }
    .oMSearch .oMSearchTop i {
      color: #fff;
      font-size: 0.50rem;
      flex: 1;
      text-align: center; }
    .oMSearch .oMSearchTop p {
      font-size: 0.28rem;
      text-align: center;
      line-height: 0.20rem;
      color: #282828;
      background: #ccc;
      border-radius: 50%;
      padding: 0.05rem;
      width: 0.20rem;
      font-weight: 600;
      position: absolute;
      left: 5.9rem;
      top: 0.4rem; }
