.cSDSection{
    flex:1;
    overflow-y: auto;
    background: #f5f4f9;
    .cSDSectionOne{
        margin:0.2rem 0.3rem 0 0.3rem;
        background:#f5f4f9;                
        .cSDSectionOneTitle{
            overflow: hidden;
            margin-top:0.2rem;
            background:#fff;        
            span{
                float:left;
                font-size: 0.24rem;
                color:#666;
                line-height: 0.84rem;
                margin-left:0.3rem;
            }
            span:last-child{
                margin-left:0.6rem;
            }
        }
    }
}